# LAB ĐIỂM CỘNG

## Python (15)

### Q1 (1)
Rename this file as `{fullname}.ipynb`.

### Q2 (1)
Create variable name `my_name` as string and assign your name to this variable.
Print the `my_name`.

In [47]:
my_name = "Chu Thi Thanh Tam" # tạo biến my_name
my_name # in ra dữ liệu my_name

'Chu Thi Thanh Tam'

### Q3 (2)
Develop class `DAStudent` with the following attributes

- `student_id`:str -> vlu student id that start with `st`
- `name`:str -> Name of the associated student
- `score`:float -> Score of the midterm exam. The range is `[0.0, 100.0]`

During the object creation, assign `student_id` and `name`. The `score` is set as `0.0` by default.

`s1 = DAStudent('207CT20000', 'Mr. Jo')`

In [48]:
class DAStudent:
    # khởi tạo tham số student_id: string, name: string, score: float mặc định là 0.0
    def __init__(self, student_id: str, name: str, score: float = 0.0):
        # kiểm tra student_id bắt đầu bằng 'st'
        if student_id.startswith('st'):
            self.student_id = student_id  # Gán giá trị student_id
        else:
            raise ValueError("ID sinh viên VLU phải bắt đầu bằng 'st'")  # báo lỗi nếu ID không hợp lệ
        
        # gán giá trị name
        self.name = name
        
        # kiểm tra xem điểm số có nằm trong khoảng [0.0, 100.0]
        if 0.0 <= score <= 100.0:
            self.score = score  # gán giá trị score
        else:
            raise ValueError("Điểm số phải nằm trong khoảng từ 0.0 đến 100.0")  # báo lỗi nếu điểm không hợp lệ
    
    def __repr__(self): # trả về chuỗi đối tượng
        return f"student_id = {self.student_id} \nname = {self.name} \nscore = {self.score}" # xuất ra đổi tượng 

# tạo đối tượng s1
s1 = DAStudent('207CT20000', 'Mr. Jo')

# xuất s1
s1

ValueError: ID sinh viên VLU phải bắt đầu bằng 'st'

### Q4 (2)

Modify the class `DAStudent` to have function `LAB that takes `float` as the input.
This function will assign the input to `DAStudent.score`.

Example

```python
s1.lab(50.5)
print(s1.score)
>>> 50.5
```

### Q5 (3)

Check the correctness of the input. Inform the user when the input is wrong.

*Hint: You will only get full mark if you use `raise`.*

Example 1:

```python
s1.lab(150)
>>> ValueError: Some message
```

Example 2:

```python
s1.lab('150')
>>> ValueError: Some message
```

In [ ]:
def lab(self, score: float): # khởi tạo lab có score: float
        # kiểm tra input có phải là float và nằm trong khoảng [0.0, 100.0]
        if isinstance(score, float) and 0.0 <= score <= 100.0:
            self.score = score  # gán giá trị score
        else: # ngược lại
            raise ValueError("ValueError: Điểm số phải là số thực và nằm trong khoảng từ 0.0 đến 100.0")  # báo lỗi nếu điểm không hợp lệ

In [ ]:
def __repr__(self):  # trả về chuỗi đối tượng
        return f"student_id = {self.student_id} \nname = {self.name} \nscore = {self.score}"  # xuất ra đối tượng

# tạo đối tượng s1
s1 = DAStudent('st207CT20000', 'Mr. Jo')

# hàm lab: nhập score 
s1.lab(50.5)

# xuất giá trị score
print(s1.score)

# kiểm tra tính hợp lệ của score
try:
    s1.lab(150)
except ValueError as e: # xem thông báo lỗi ValueError
    print(e)

50.5
ValueError: Điểm số phải là số thực và nằm trong khoảng từ 0.0 đến 100.0

### Q6 (6)

Once upon a time in the magical land, there are two engineer beavers living together. 


Their hobby is to build a dam out of wood.


Years and years, dam after another dam, one of engineer beaver get bored. The beaver wants a better life. A more accurate calculation of dam not just keep building it anymore.


Now, they are deploying a rain sensor to collect data which will be used to predict water level of the river.

Finally, with their new skill set and hardworking, a predictor is obtained. They named their invention `The Oracle of the Dam (TOTD)`.

However, the `TOTD` only predicts the water level. 

The engineer/data scientist beavers still needs to build the dam themselves but this time, it will be the most efficient dam of the beaver land ever.

Every 2 meters of the water level, the dam needs to be build 1 level higher. And every log (*) uses will cost $3.5.

Here is how the 3-level dam look like from the cross section view

```
l_3   *
l_2  ***
l_1 *****
```

Here is how much this project will cost

```
Number of logs: 9
Cost: $31.5
```


Your task is simple, write a function `dam_design` that takes `water_level` as an input. Print the design of the dam and summarize the material and cost.

Example 1:
```python
dam_design(0)
>>> *
>>> Number of logs: 1
>>> Cost: $3.5
```

Example 2:
```python
dam_design(1)
>>> *
>>> Number of logs: 1
>>> Cost: $3.5
```

Example 3:
```python
dam_design(2)
>>>  *
>>> ***
>>> Number of logs: 4
>>> Cost: $14.0
```

Example 4:
```python
dam_design(3)
>>>  *
>>> ***
>>> Number of logs: 4
>>> Cost: $14.0
```

Example 5:
```python
dam_design(4)
>>>   *
>>>  ***
>>> *****
>>> Number of logs: 9
>>> Cost: $31.5
```

In [ ]:
def dam_design(water_level): # khởi tạo hàm dam_design có input là water_level
    # tính số bậc của đập dựa trên mực nước
    tiers = (water_level + 2) // 2
    
    # khởi tạo biến đếm số lượng nhật ký
    num_logs = 0
    
    # tạo vòng lặp for tính số bậc
    for i in range(tiers): 
        logs = 1 + 2 * i  # số lượng nhật ký trong mỗi bậc
        num_logs += logs # cộng dồn số lượng
        print(' ' * (tiers - i - 1) + '*' * logs)  # xuất ra đập
        
    # tính chi phí
    cost = num_logs * 3.5
    
    # xuất ra tóm tắt vật liệu và chi phí
    print(f"Number of logs: {num_logs}")
    print(f"Cost: ${cost:.1f}")

# Chạy các ví dụ
print("Example 1:")
dam_design(0)

print("\nExample 2:")
dam_design(1)

print("\nExample 3:")
dam_design(2)

print("\nExample 4:")
dam_design(3)

print("\nExample 5:")
dam_design(4)

Example 1:
*
Number of logs: 1
Cost: $3.5

Example 2:
*
Number of logs: 1
Cost: $3.5

Example 3:
 *
***
Number of logs: 4
Cost: $14.0

Example 4:
 *
***
Number of logs: 4
Cost: $14.0

Example 5:
  *
 ***
*****
Number of logs: 9
Cost: $31.5